# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtualenv
venv/
ventech/
.venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
*.log
local_settings.py

# Media (user uploads)
media/
staticfiles/

# Environment
.env

# IDE
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db